@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-dark-1{
    color: #131313;
}
.text-dark-2{
    color: #424242;
}
.text-dark-3{
    color: #727272;
}
.display-flex{
    display: flex;
}
.section-sub-texts{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.nav-menu-margin{
    margin-right: 5rem;
}
.text-center{
    text-align: center;
}
.explore-btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}
/* header styles */
.header{
    padding: 3.1rem 0;
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}
.brand-name{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner{
    margin-top: 6.4rem;
}
.banner-title{
    margin-bottom: 32px;
}
.explore-btn-container{
    margin-top: 32px;
}
.banner-img{
    justify-content: center;
    margin-top: 3.1rem;
}